extends ../layouts/default
block content
    section
        .max960
            h1.text-centered=provider.name
            h3.text-centered=provider.category
            input#likeprovider(type='checkbox',name='liked',data-provider=provider.id,checked=provider.liked)



            .video-wrapper
                iframe(src=provider.videoUrl, width='600', height='255', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')

            .details.units-row.unit-padding
                .unit-60.unit-padding
                    h2=provider.name
                    p !{provider.description}
                .unit-40.unit-padding
                    if provider.contact.address
                        .item Adresa:&nbsp
                            div=provider.contact.address
                    if provider.contact.city
                        .item Localitate:&nbsp
                            div=provider.contact.city
                    if provider.contact.web
                        .item Site:&nbsp
                            div
                                a(href=provider.contact.web,target='_blank')=provider.contact.web
                    if provider.contact.email
                        .item Email:&nbsp
                            div
                                a(href='mailto:'+provider.contact.email)=provider.contact.email
                    if provider.contact.phone
                        .item Telefon:&nbsp
                            div
                                each number in provider.contact.phone
                                    a(href='tel:'+number)=number
                    if provider.contact.facebook
                        .item Facebook:&nbsp
                            div
                                a(href=provider.contact.facebook,target='_blank')=provider.contact.facebook
        #disqus_thread
