extends ../layouts/default
block content
    section
        .max960
            h1.provider-title.text-centered=provider.name
            h3.provider-category.text-centered=provider.category



            .video-wrapper
                iframe(id='vmPlayer',src=provider.vimeoId+'?api=1&player_id=vmPlayer', width='600', height='255', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
                .video-socialbuttons
                    .btns.googl(title='Share pe google+!')
                    .btns.fb(data-title='Weddingpedia - '+provider.name,data-desc=provider.description,data-link=path, data-image=provider.thumbFileName)

            #fav-button(data-provider=provider.id,class='liked-'+provider.liked, data-ischecked=provider.liked)
                if (provider.liked=='true')
                    | <span class="footer-heart icon icon-heart" ></span> este favorit
                else
                    | <span class="footer-heart icon icon-heart" ></span> adauga la favorite


            .details
                h2=provider.name
                p !{provider.description}

                if provider.contact.address
                    .item Adresa:&nbsp
                        span=provider.contact.address
                if provider.contact.city
                    .item Localitate:&nbsp
                        span=provider.contact.city
                if provider.contact.web
                    .item Site:&nbsp
                        span
                            a(href=provider.contact.web,target='_blank')=provider.contact.web
                if provider.contact.email
                    .item Email:&nbsp
                        span
                            a(href='mailto:'+provider.contact.email)=provider.contact.email
                if provider.contact.phone
                    .item Telefon:&nbsp
                        span
                            each number in provider.contact.phone
                                a(href='tel:'+number)=number
                if provider.contact.facebook
                    .item Facebook:&nbsp
                        span
                            a(href=provider.contact.facebook,target='_blank')=provider.contact.facebook
        #disqus_thread
