extends ../../layouts/default
block content
    h1=user.name
    form#userForm.forms(action='/admin/users/save',method='post')

        fieldset
            legend
                | Roluri multiple
            label selecteaza din lista autocomplete
                input#selectUserRoles(type="hidden",name='roles',value=user.roles)
        fieldset
            legend
                | Detalii
            label Nume
                input(readonly,name='name',value=user.name)
            label adresa de mail
                input(readonly,name='email',value=user.email)

        input#idUser(type='hidden',name='id',value=user.id)
        button#saveUser.right.btn.btn-outline.btn-small.btn-green salveaza userul
        button#deleteUser.left.btn.btn-outline.btn-small.btn-red() sterge userul