extends ../layouts/default
block content
    section
        .max960

            h1.text-centered Hello #{user.name}

            //if local
                //show password change form

            .userProviderList.pad-top-2em
                .title-userproviderlist.text-centered Furnizorii tai favoriti
                    if user.favorites.length
                        div
                            span.icon.icon-cross nu mai e favorit?
                            span.icon.icon-plus lucrezi cu acest furnizor?
                        //th.width-5
                        //th.width-80
                        //th.width-15
                div
                    each favorite, i in user.favorites
                        - var isWorking = favorite.working ? 'isWorking' : ''
                        div.favorite-row(class=isWorking,data-providerid=favorite.providerId.id)
                            div.counter.left=i+1
                            div.name.left #{favorite.providerId.category} / #{favorite.providerId.name}
                            div.buttons.left
                                span.btnDeleteFavorite(title='Sterge din lista de favorite',data-providerid=favorite.providerId.id)
                                if favorite.working
                                    span.btnDisplayWork(title='Vezi detalii')
                                else
                                    span.btnWorkWithIt(title='Lucrezi cu acest furnizor?',data-providerid=favorite.providerId.id)

                            if favorite.working
                                .favorite-details
                                    form#favorite-details-form
                                        input(placeholder='suma', name='amount',type='number')
                                        input.datepicker(placeholder='data', name='date',type='date')
                                        textarea(placeholder='observatii', name='comments')
                                        button.positive.right.favSave save

            .noFavorites.text-centered
                | nu ai niciun furnizor favorit. <a href="/furnizori-de-nunta">sigur gasesti unul</a>.
