

section.verylightgrey1
    .max960
        .submenu.left  furnizori de nunta
            ul.verylightgrey1
                li
                    a(class=selectedCategory=='all' ? 'active': undefined,href="/furnizori-de-nunta") toti
                each category in categories
                    li
                        a(class=selectedCategory==category ? 'active': undefined,href="/furnizori-de-nunta/#{category}") #{category}

        if selectedCategory != 'toti furnizorii'
            .selectedThing.left
                a(href='/furnizori-de-nunta/', alt='sterge filtrele') #{selectedCategory}
        .searchbox
            input#search(type='search',name='searchTerms',placeholder='cautare')

        .providers
            #grid(data-columns)
                if providers.length==0
                    p Nu exista furnizori potrivit cautarii tale!
                each provider in providers
                    .provider
                        a.providerLink(href='/furnizori-de-nunta/'+provider.link)
                            img.providerImage(src=provider.thumbFileName)
                            .details
                                h3.name #{provider.name}
                                h4.category #{provider.category}
        if (pages > 0)
            .pagination
                ul
                    != createPagination(pages, page,perpage)

        .pageNum
            input.howmany(name='perpage',placeholder='page',value=perpage)