section

    #filters.button-group.large-vertical-space
        .title Foloseste filtrele pentru a ajunge mai usor la furnizorii doriti
        a.btn.btn-outline(class=selectedCategory=='all' ? 'active': undefined,href="/furnizori-de-nunta") toti

        each category in categories
            //cat=category
            //button.button
            a.btn.btn-outline(class=selectedCategory==category ? 'active': undefined,href="/furnizori-de-nunta/#{category}") #{category}

    #providers.unit-padding.clearfix
        each provider in providers
            .provider.animated.fadeIn(class="#{provider.category}", data-category="#{provider.category}")
                a(href='/furnizori-de-nunta/'+provider.link)
                    .image(style="background-image:url(#{provider.thumbLink})")
                        .icon.icon-camera
                    .details
                        h3.name #{provider.name}
                        h4.category #{provider.category}
                        .watchit vizioneaza filmul