

section.verylightgrey
    .max960
        .submenu  furnizori de nunta
            ul.verylightgrey
                li
                    a(class=selectedCategory=='all' ? 'active': undefined,href="/furnizori-de-nunta") toti
                each category in categories
                    li
                        a(class=selectedCategory==category ? 'active': undefined,href="/furnizori-de-nunta/#{category}") #{category}

        .providers
            #grid(data-columns)
                each provider in providers
                    .provider.animated.fadeIn
                        a(href='/furnizori-de-nunta/'+provider.link)
                            img.providerImage(src=provider.thumbLink)
                            .details
                                h3.name #{provider.name}
                                h4.category #{provider.category}