extends ../../layouts/default
block content


    h1 Furnizori
    div
        a.unit-25.btn(href='/admin/providers/new') Adauga furnizor
    .units-row

        if (pages > 0)
            .pagination.unit-50
                ul
                    != createPagination(pages, page,perpage)
        .pageNum.unit-50 #
            input.howmany(name='perpage',placeholder='page',value=perpage)



    table.providerList
        thead
            tr
                th.width-90
                th.width-10

        tbody
            each category, i in providers
                tr
                    td.category-name #{i}
                each provider , j in category
                    tr

                        td.width-90
                            a(href='/admin/providers/update/'+provider._id) #{provider.name}
                        td.width-10

                            .onoffswitch
                                input.onoffswitch-checkbox(id='onoff#{provider.id}',disabled,type='checkbox', name='isactive', checked=!provider.isActive)
                                label.onoffswitch-label(for='onoff#{provider.id}')
                                    span.onoffswitch-inner
                                    span.onoffswitch-switch

                //p=provider.isActive