extends ../../layouts/default
block content
    h1.left Posturi blog
    button.right.btn-outline.btn-small.btn-red(onClick="window.location.href='/admin/blog/new'") Adauga post nou

    table.providerList.pad-top-3em
        thead
            tr
                th.width-5
                th.width-70
                    | titlu
                th.width-25.text-right
                    | data update
        tfoot
            tr
                th.width-5
                th.width-70
                    if (pages > 0)
                        .pagination.unit-50
                            ul
                                != createPagination(pages, page,perpage)
                th.width-25.text-right
                    .pageNum #
                        input.howmany(name='perpage',placeholder='page',value=perpage)
        tbody
            each article, i in articles
                tr.trlink(onclick="document.location='/admin/blog/update/#{article.id}'")
                        td
                            span=i+1
                        td
                            span #{article.title}
                        td.text-right
                            span=moment(article.updatedAt).format('DD-MM-YYYY')
