extends ../../layouts/default
block content
    .text-centered.section-title.max700
        h1 un nou post pe blog
        p dublu-click pe text pentru a-l formata

    .formblog.max700.unit-padding
        form#newBlogPost
            label
                | Titlu post
                input(name='title',placeholder='titlu',value=title)
            label
                | SEO keywords (cu virgula)
                input(name='keywords',placeholder='seo keywords',value=keywords)
            label
                | SEO description (max 160)
                input(name='seoDescription',placeholder='seo description',value=seoDescription)
            label
                | URL (fara http)
                input(name='url',placeholder='url',value=url)
            label
                | Data crearii
                input(name='creationDate',type="date", placeholder='titlu',value=creationDate)
            label
                | Text
            div.mediumblog
            input#hiddenHtml(type='hidden',value=body)
            input(type='hidden',name='id',value=id)

        .unit-padding.clearfix
            button.right.btn.btn-large.btn-green(type='submit') salveaza postarea


        .result
