extends ../../layouts/default
block content

    h1.left un nou post pe blog

    button.right.btn-outline.btn-small.btn-red(onClick="window.open('#{providerLink}','_blank')") Preview

    .formblog
        form#newBlogPost
            label
                | Vizibil Public
                .onoffswitch
                    input.onoffswitch-checkbox(id='publicView',type='checkbox', name='publicView', value=1,checked=publicView)
                    label.onoffswitch-label(for='publicView')
                        span.onoffswitch-inner
                        span.onoffswitch-switch
            label
                | Titlu post
                input(name='title',placeholder='titlu',value=title)
            label
                | SEO keywords (cu virgula)
                input(name='keywords',placeholder='seo keywords',value=keywords)
            label
                | SEO description (max 160)
                input(name='seoDescription',placeholder='seo description',value=seoDescription)
            label
                | URL (fara http)
                input(name='url',placeholder='url',value=url)
            label
                | Data crearii
                input(name='creationDate',type="date", placeholder='titlu',value=creationDate)

            label
                | Text (dublu-click pe text pentru a-l formata)
            div.mediumblog
            input#hiddenHtml(type='hidden',value=body)
            input(type='hidden',name='id',value=id)


        button.right.btn.btn-outline.btn-small.btn-green(type='submit') salveaza postarea

